.logo{
  width: 190px;
  height: auto ;
}

.titulos{
  width: 100%;
  font-size: 60px;
  text-align: center;
}

.botonesMenu{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.home{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagenHome{
  width: 450px;
  height: 350px;
  border-radius: 70%;
}

.textoHome{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-right: 10px;
}



.textoHome2{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-right: 10px;
}
.imgHome{
  padding-top: 80px;
}

.descripHome{
  text-align: justify;
}

.descripHome2{
  padding-top: 80px;
  text-align: left;
}

.aspirations{
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.metas{
  width: 100%;
  text-align: justify;
}

.aspirations {
  text-align: center;
  margin: 20px;
}



.tituloPlazo{
  text-align: center;
}

.metas {
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
}


.contactButton{
  background-color: transparent;
  box-shadow:none ;
  border: transparent;
  color:#171b1f ;
}

.contactButton a{
  text-decoration: none;
  color: inherit;
}


.footer{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color:#f0f0f0;
  color:#171b1f ;
}

nav{
  background-color: #ffffff;
}

body {
  background-image: url('./Components/Assets/pexels-henry-&-co-1939485.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}


.carrusel{
  width: 45%;
  height: auto;
  }

.proyects{
  display: flex;
  flex-direction: row;
  align-items:center ;
  justify-content: space-around;
  padding-bottom: 40px;
}
.proyects p{
  height: auto;
  text-align: justify;
  font-size: 23px;
}


.textoProyectos{
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  justify-content: center;
}

.subtitulo{
  text-align: center;
  font-size: 35px;
}

@media (max-width: 768px) {
  .botonesMenu {
    flex-direction: column;
  }
  .logo {
    max-width: 100%;
  }
}


